# WAX Node link, using the first node by default
rpc_domain_list:
 - https://api.wax.alohaeos.com
 - https://wax.dapplica.io
 - https://api.waxsweden.org
 - https://wax.pink.gg
 - https://wax.eosphere.io
 - https://api.wax.greeneosio.com
 - https://wax.cryptolions.io
# Atomic market node link, the first node is used by default
assets_domain_list:
  - https://wax.api.atomicassets.io
  - https://atomic.wax.eosrio.io
# Query node
query_rpc_domain: https://api.wax.alohaeos.com
# Selected WAX node
rpc_domain: https://api.wax.alohaeos.com
# Selected atomic market node
assets_domain: https://wax.api.atomicassets.io

# waxaccount
wax_account: abcde.wam
# only http proxy like 127.0.0.1:10809
use_proxy: false
proxy: null
# Construction, collecting resources, raising chicken, nurses, seeds, members, need to automate operation, set to TRUE
# put up
build: false
# Collect resource
mining: false
# Chicken
chicken: false
# Raise cattle
cow: false
# Farming
plant: false
# Member click
mbs: false
# Breeding feeding
breeding: false
# Open membership card storage mining
mbs_mint: true

#Automatically sell assets corresponding to Exchange
#Automatically sell corn
sell_corn: false
#Retaining the number of corn
remaining_corn_num: 0
#Automatically sell barley
sell_barley: false
#Retain the number of barley
remaining_barley_num: 0
#Automatically sell milk
sell_milk: false
#Keep the number of milk
remaining_milk_num: 0
#Automatically sell eggs
sell_egg: false
#Retain the number of eggs
remaining_egg_num: 0

# MARKET market is automatically purchased
# Automatically buy food [corn or barley] (when feeding animal food is not enough, trigger purchase）
buy_food: false
# Number of purchases
buy_food_num: 0
# Automatically buy barley seeds (when the seed is not enough, trigger purchase, how much is the shortage of quantity)
buy_barley_seed: false
# Automatically buy corn seeds (when the seed seed is not enough, trigger purchase, how much is the number of quantities)
buy_corn_seed: false


# Automatic crop (barley seeds | corn seed)
# Please buy the barley seeds, corn seeds, or open the market.
auto_plant: false
#Number of large wheat seeds
barleyseed_num: 0
#Number of corn seeds
cornseed_num: 0

# Automatic withdrawal
withdraw: false
# How many materials remain in the account
need_fww: 0
need_fwf: 1000
need_fwg: 1000
#At least the quantity, three materials sum
withdraw_min: 500

# Automatic recharge
auto_deposit: false
#Less than how many wood recharge
fww_min: 0
# Number of wood per recharge
deposit_fww: 0
# Less than how much food recharge
fwf_min: 0
# Number of foods per recharge
deposit_fwf: 0
# How much gold recharge
fwg_min: 0
# Number of gold coins each time
deposit_fwg: 0

# How much energy is added each time (generally fill in the maximum energy value of the account)
recover_energy: 500
# Lower than how much energy open supplements (it is not enough to detect each time, if not enough to set supplements)
min_energy: 50

# Below how much durability open maintenance (unit%) (not enough to detect energy before each operation is not enough, if not open repair)
min_durability: 20

